body{
    background-color: #83d0c9;
    color: #000305;
    font-size: 87.5%  /* Base font size 14px */
    font-family: Arial, 'Lucida Sans Unicode';
    line-height:1.5;
    text-align: left;
    margin: 0 auto;
    width: 95%;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: #54b2a9;
}

a:hover, a:active{
    background-color: #54b2a9;
    color: #FFF
}

article{
    font-size: x-large;
    text-align: center;
}


.body {
    width: 100%;
    float: right;
    background-color: #FFF;
}

*{
    box-sizing: border-box;
}

.mainHeader nav{
    background-color: #666;
    height: 40px;
}

.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 40px;
}

.mainHeader nav a:hover, .mainHeader a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
    background-color: #54b2a9;
    text-shadow: none;
}

.top{
    float: left;
    width: 25%;
}

.mainContent{
    line-height: 25px;
}

.content {
    width: 75%;
    float: left;
}

.topContent, .middleContent, .bottomContent{
    background-color: #FFF;
    padding:1% 3%;
}
.topContent{
    padding-left: 28%;
}

.top-sidebar{
    width: 25%;
    float: left;
    background-color: #FFF;
    padding: 2% 3%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.top-sidebar img{
    width: 100%;
}

.top-sidebar p, .top-sidebar img {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.top-sidebar p{
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 3%;
}

.mainFooter{
    width: 100%;
    float: left;
    background-color: #666;
}

.mainFooter p {
    text-align: center;
    margin: 10px auto;
    color: #FFF;
}




/* Jquery Widgets and Plugins Below */


#sortable li{
    list-style-type: none;
    cursor: pointer;
}
#sortable{
    width: 80%;
    margin-left: 6%;
}

#correctMessage{

}

#hobbyLabel{
    font-style: italic;
    font-size: 200%;
    margin-left:12%;
    margin-top: 11%;
}
.top h3{
    margin-left: 11%;
}


.toggler {
    width: 500px;
    height: 200px;
    margin-left: 24%;
    margin-top: 4%;
}
#button {
    padding: .5em 1em;
    text-decoration: none;
    margin-left: 39%;
}
#effect {
    position: relative;
    width: 240px;
    height: 220px;
    padding: 0.4em;
}
#effectTypes{
    display: none;
}
#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

