body{
    background-color: #83d0c9;
    color: #000305;
    font-size: 87.5%  /* Base font size 14px */
    font-family: Arial, 'Lucida Sans Unicode';
    line-height:1.5;
    text-align: left;
    margin: 0 auto;
    width: 95%;
}



a {
    text-decoration: none;
}

a:link, a:visited{
    color: #54b2a9;
}

a:hover, a:active{
    background-color: #54b2a9;
    color: #FFF
}

.body {
    width: 60%;
    float: right;
    background-color: #FFF;
}

*{
    box-sizing: border-box;
}

#body_pic{
    width:40%;

}

#body_pic img{
    float: left;
    width:100%;
}

.mainHeader nav{
    background-color: #666;
    height: 40px;
}

.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 40px;
}

.mainHeader nav a:hover, .mainHeader a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
    background-color: #54b2a9;
    text-shadow: none;
}

.mainContent{
    line-height: 25px;
}

.content {
    width: 70%;
    float: left;
}

.postInfo{
    font-style: italic;
    color: #999;
    font-size: 90%;
}

.topContent, .middleContent, .bottomContent{
    background-color: #FFF;
    padding: 3% 5%;
}

.top-sidebar, .middle-sidebar, .bottom-sidebar{
    width: 30%;
    float: left;
    background-color: #FFF;
    padding: 2% 3%;
}
.mainFooter{
    width: 100%;
    float: left;
    background-color: #666;
}

.mainFooter p {
    text-align: center;
    margin: 10px auto;
    color: #FFF;
}
